filter=-whitespace
filter=-legalcopyright
filter=-runtimeindentation_namespace
filter=-buildinclude_order
filter=-buildinclude_subdir
# Forbidden headers, i.e. thread, mutex
filter=-buildc++11
# Forbids usage of 'using namespace'
filter=-buildnamespaces
# Doesn't recognize clang-tidy categories such as 'bugprone-exception-escape'
filter=-readabilitynolint