filter=-whitespace
filter=-legal/copyright
filter=-readability/todo
filter=-runtimeindentation_namespace
filter=-build/include_order
filter=-build/include_subdir
# Forbidden headers, i.e. thread, mutex
filter=-build/c++11
# Forbids usage of 'using namespace'
filter=-buildnamespaces
# Doesn't recognize clang-tidy categories such as 'bugprone-exception-escape'
filter=-readabilitynolint

filter=-runtime/references
filter=-readability/braces